openapi: 3.2.0
info:
  title: A2 Biotherapeutics WordPress REST Wp/v2 API
  version: wp/v2
  summary: The live WordPress REST API served by the A2 Biotherapeutics corporate website.
  description: 'Derived verbatim from the route-discovery document the A2 Biotherapeutics web server publishes at https://www.a2bio.com/wp-json/ (fetched 2026-08-02, HTTP 200). Every path, method, parameter name, type, default and enum in this document was read from that live response; nothing was invented.


    This is the content-management API of the corporate marketing site, not a therapeutic, clinical or research product API. A2 Biotherapeutics is a clinical-stage cell-therapy company and publishes no developer product API. The surface is included because it is a real, live, self-describing HTTP contract on the provider''s own host, and because the same WordPress install also exposes two Model Context Protocol servers under the `mcp` namespace (see mcp/a2-biotherapeutics-mcp.yml).


    Only the WordPress core namespaces are represented (`wp/v2`, `wp-abilities/v1`, `mcp`, `oembed/1.0`). Third-party plugin namespaces advertised by the same discovery document (yoast/v1, cky/v1, redirection/v1, wordfence/v1, wp-rocket/v1, userway/v1, smart-slider-3/v1, ajaxselect2/v1, duplicate-post/v1, wp-site-health/v1, wp-block-editor/v1) are intentionally excluded as vendor plugin internals.'
  x-derived-from: https://www.a2bio.com/wp-json/
  x-derived-on: '2026-08-02'
  x-apievangelist-method: derived
servers:
- url: https://www.a2bio.com
  description: Production
tags:
- name: wp/v2
  description: WordPress core content API (posts, pages, media, taxonomies, users, settings).
paths:
  /wp-json/wp/v2:
    get:
      operationId: getWpV2
      summary: GET /wp/v2
      description: WordPress REST API route `/wp/v2` in namespace `wp/v2`, as advertised by the live route-discovery document at https://www.a2bio.com/wp-json/.
      tags:
      - wp/v2
      parameters:
      - name: namespace
        in: query
        schema:
          default: wp/v2
      - name: context
        in: query
        schema:
          default: view
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema: {}
        '401':
          description: Authentication required or capability missing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp-json/wp/v2/block-directory/search:
    get:
      operationId: getWpV2BlockDirectorySearch
      summary: GET /wp/v2/block-directory/search
      description: WordPress REST API route `/wp/v2/block-directory/search` in namespace `wp/v2`, as advertised by the live route-discovery document at https://www.a2bio.com/wp-json/.
      tags:
      - wp/v2
      parameters:
      - name: context
        in: query
        schema:
          type: string
          enum:
          - view
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: page
        in: query
        schema:
          type: integer
          default: 1
        description: Current page of the collection.
      - name: per_page
        in: query
        schema:
          type: integer
          default: 10
        description: Maximum number of items to be returned in result set.
      - name: term
        in: query
        schema:
          type: string
        required: true
        description: Limit result set to blocks matching the search term.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema: {}
        '401':
          description: Authentication required or capability missing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp-json/wp/v2/block-patterns/categories:
    get:
      operationId: getWpV2BlockPatternsCategories
      summary: GET /wp/v2/block-patterns/categories
      description: WordPress REST API route `/wp/v2/block-patterns/categories` in namespace `wp/v2`, as advertised by the live route-discovery document at https://www.a2bio.com/wp-json/.
      tags:
      - wp/v2
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema: {}
        '401':
          description: Authentication required or capability missing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp-json/wp/v2/block-patterns/patterns:
    get:
      operationId: getWpV2BlockPatternsPatterns
      summary: GET /wp/v2/block-patterns/patterns
      description: WordPress REST API route `/wp/v2/block-patterns/patterns` in namespace `wp/v2`, as advertised by the live route-discovery document at https://www.a2bio.com/wp-json/.
      tags:
      - wp/v2
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema: {}
        '401':
          description: Authentication required or capability missing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp-json/wp/v2/block-renderer/{name}:
    parameters:
    - name: name
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getWpV2BlockRendererByName
      summary: GET /wp/v2/block-renderer/(?P<name>[a-z0-9-]+/[a-z0-9-]+)
      description: WordPress REST API route `/wp/v2/block-renderer/(?P<name>[a-z0-9-]+/[a-z0-9-]+)` in namespace `wp/v2`, as advertised by the live route-discovery document at https://www.a2bio.com/wp-json/.
      tags:
      - wp/v2
      parameters:
      - name: context
        in: query
        schema:
          type: string
          enum:
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: attributes
        in: query
        schema:
          type: object
          default: []
        description: Attributes for the block.
      - name: post_id
        in: query
        schema:
          type: integer
        description: ID of the post context.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema: {}
        '401':
          description: Authentication required or capability missing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    post:
      operationId: postWpV2BlockRendererByName
      summary: POST /wp/v2/block-renderer/(?P<name>[a-z0-9-]+/[a-z0-9-]+)
      description: WordPress REST API route `/wp/v2/block-renderer/(?P<name>[a-z0-9-]+/[a-z0-9-]+)` in namespace `wp/v2`, as advertised by the live route-discovery document at https://www.a2bio.com/wp-json/.
      tags:
      - wp/v2
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                context:
                  type: string
                  enum:
                  - edit
                  default: view
                  description: Scope under which the request is made; determines fields present in response.
                attributes:
                  type: object
                  default: []
                  description: Attributes for the block.
                post_id:
                  type: integer
                  description: ID of the post context.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema: {}
        '401':
          description: Authentication required or capability missing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp-json/wp/v2/block-types:
    get:
      operationId: getWpV2BlockTypes
      summary: GET /wp/v2/block-types
      description: WordPress REST API route `/wp/v2/block-types` in namespace `wp/v2`, as advertised by the live route-discovery document at https://www.a2bio.com/wp-json/.
      tags:
      - wp/v2
      parameters:
      - name: context
        in: query
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: namespace
        in: query
        schema:
          type: string
        description: Block namespace.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema: {}
        '401':
          description: Authentication required or capability missing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp-json/wp/v2/block-types/{namespace}:
    parameters:
    - name: namespace
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getWpV2BlockTypesByNamespace
      summary: GET /wp/v2/block-types/(?P<namespace>[a-zA-Z0-9_-]+)
      description: WordPress REST API route `/wp/v2/block-types/(?P<namespace>[a-zA-Z0-9_-]+)` in namespace `wp/v2`, as advertised by the live route-discovery document at https://www.a2bio.com/wp-json/.
      tags:
      - wp/v2
      parameters:
      - name: context
        in: query
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema: {}
        '401':
          description: Authentication required or capability missing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp-json/wp/v2/block-types/{namespace}/{name}:
    parameters:
    - name: namespace
      in: path
      required: true
      schema:
        type: string
    - name: name
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getWpV2BlockTypesByNamespaceByName
      summary: GET /wp/v2/block-types/(?P<namespace>[a-zA-Z0-9_-]+)/(?P<name>[a-zA-Z0-9_-]+)
      description: WordPress REST API route `/wp/v2/block-types/(?P<namespace>[a-zA-Z0-9_-]+)/(?P<name>[a-zA-Z0-9_-]+)` in namespace `wp/v2`, as advertised by the live route-discovery document at https://www.a2bio.com/wp-json/.
      tags:
      - wp/v2
      parameters:
      - name: context
        in: query
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema: {}
        '401':
          description: Authentication required or capability missing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp-json/wp/v2/blocks:
    get:
      operationId: getWpV2Blocks
      summary: GET /wp/v2/blocks
      description: WordPress REST API route `/wp/v2/blocks` in namespace `wp/v2`, as advertised by the live route-discovery document at https://www.a2bio.com/wp-json/.
      tags:
      - wp/v2
      parameters:
      - name: context
        in: query
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: page
        in: query
        schema:
          type: integer
          default: 1
        description: Current page of the collection.
      - name: per_page
        in: query
        schema:
          type: integer
          default: 10
        description: Maximum number of items to be returned in result set.
      - name: search
        in: query
        schema:
          type: string
        description: Limit results to those matching a string.
      - name: after
        in: query
        schema:
          type: string
          format: date-time
        description: Limit response to posts published after a given ISO8601 compliant date.
      - name: modified_after
        in: query
        schema:
          type: string
          format: date-time
        description: Limit response to posts modified after a given ISO8601 compliant date.
      - name: before
        in: query
        schema:
          type: string
          format: date-time
        description: Limit response to posts published before a given ISO8601 compliant date.
      - name: modified_before
        in: query
        schema:
          type: string
          format: date-time
        description: Limit response to posts modified before a given ISO8601 compliant date.
      - name: exclude
        in: query
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Ensure result set excludes specific IDs.
      - name: include
        in: query
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to specific IDs.
      - name: search_semantics
        in: query
        schema:
          type: string
          enum:
          - exact
        description: How to interpret the search input.
      - name: offset
        in: query
        schema:
          type: integer
        description: Offset the result set by a specific number of items.
      - name: order
        in: query
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
        description: Order sort attribute ascending or descending.
      - name: orderby
        in: query
        schema:
          type: string
          enum:
          - author
          - date
          - id
          - include
          - modified
          - parent
          - relevance
          - slug
          - include_slugs
          - title
          default: date
        description: Sort collection by post attribute.
      - name: search_columns
        in: query
        schema:
          type: array
          default: []
          items:
            type: string
            enum:
            - post_title
            - post_content
            - post_excerpt
        description: Array of column names to be searched.
      - name: slug
        in: query
        schema:
          type: array
          items:
            type: string
        description: Limit result set to posts with one or more specific slugs.
      - name: status
        in: query
        schema:
          type: array
          default: publish
          items:
            type: string
            enum:
            - publish
            - future
            - draft
            - pending
            - private
            - trash
            - auto-draft
            - inherit
            - request-pending
            - request-confirmed
            - request-failed
            - request-completed
            - dp-rewrite-republish
            - any
        description: Limit result set to posts assigned one or more statuses.
      - name: tax_relation
        in: query
        schema:
          type: string
          enum:
          - AND
          - OR
        description: Limit result set based on relationship between multiple taxonomies.
      - name: wp_pattern_category
        in: query
        schema:
          type: object
        description: Limit result set to items with specific terms assigned in the wp_pattern_category taxonomy.
      - name: wp_pattern_category_exclude
        in: query
        schema:
          type: object
        description: Limit result set to items except those with specific terms assigned in the wp_pattern_category taxonomy.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema: {}
        '401':
          description: Authentication required or capability missing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    post:
      operationId: postWpV2Blocks
      summary: POST /wp/v2/blocks
      description: WordPress REST API route `/wp/v2/blocks` in namespace `wp/v2`, as advertised by the live route-discovery document at https://www.a2bio.com/wp-json/.
      tags:
      - wp/v2
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  type: string
                  format: date-time
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type: string
                  format: date-time
                  description: The date the post was published, as GMT.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  description: A named status for the post.
                password:
                  type: string
                  description: A password to protect access to the content and excerpt.
                title:
                  type: object
                  description: The title for the post.
                content:
                  type: object
                  description: The content for the post.
                excerpt:
                  type: object
                  description: The excerpt for the post.
                meta:
                  type: object
                  description: Meta fields.
                template:
                  type: string
                  description: The theme file to use to display the post.
                wp_pattern_category:
                  type: array
                  items:
                    type: integer
                  description: The terms assigned to the post in the wp_pattern_category taxonomy.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema: {}
        '401':
          description: Authentication required or capability missing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp-json/wp/v2/blocks/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getWpV2BlocksById
      summary: GET /wp/v2/blocks/(?P<id>[\d]+)
      description: WordPress REST API route `/wp/v2/blocks/(?P<id>[\d]+)` in namespace `wp/v2`, as advertised by the live route-discovery document at https://www.a2bio.com/wp-json/.
      tags:
      - wp/v2
      parameters:
      - name: context
        in: query
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: excerpt_length
        in: query
        schema:
          type: integer
        description: Override the default excerpt length.
      - name: password
        in: query
        schema:
          type: string
        description: The password for the post if it is password protected.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema: {}
        '401':
          description: Authentication required or capability missing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    post:
      operationId: postWpV2BlocksById
      summary: POST /wp/v2/blocks/(?P<id>[\d]+)
      description: WordPress REST API route `/wp/v2/blocks/(?P<id>[\d]+)` in namespace `wp/v2`, as advertised by the live route-discovery document at https://www.a2bio.com/wp-json/.
      tags:
      - wp/v2
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  type: string
                  format: date-time
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type: string
                  format: date-time
                  description: The date the post was published, as GMT.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  description: A named status for the post.
                password:
                  type: string
                  description: A password to protect access to the content and excerpt.
                title:
                  type: object
                  description: The title for the post.
                content:
                  type: object
                  description: The content for the post.
                excerpt:
                  type: object
                  description: The excerpt for the post.
                meta:
                  type: object
                  description: Meta fields.
                template:
                  type: string
                  description: The theme file to use to display the post.
                wp_pattern_category:
                  type: array
                  items:
                    type: integer
                  description: The terms assigned to the post in the wp_pattern_category taxonomy.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema: {}
        '401':
          description: Authentication required or capability missing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    put:
      operationId: putWpV2BlocksById
      summary: PUT /wp/v2/blocks/(?P<id>[\d]+)
      description: WordPress REST API route `/wp/v2/blocks/(?P<id>[\d]+)` in namespace `wp/v2`, as advertised by the live route-discovery document at https://www.a2bio.com/wp-json/.
      tags:
      - wp/v2
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  type: string
                  format: date-time
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type: string
                  format: date-time
                  description: The date the post was published, as GMT.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  description: A named status for the post.
                password:
                  type: string
                  description: A password to protect access to the content and excerpt.
                title:
                  type: object
                  description: The title for the post.
                content:
                  type: object
                  description: The content for the post.
                excerpt:
                  type: object
                  description: The excerpt for the post.
                meta:
                  type: object
                  description: Meta fields.
                template:
                  type: string
                  description: The theme file to use to display the post.
                wp_pattern_category:
                  type: array
                  items:
                    type: integer
                  description: The terms assigned to the post in the wp_pattern_category taxonomy.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema: {}
        '401':
          description: Authentication required or capability missing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    patch:
      operationId: patchWpV2BlocksById
      summary: PATCH /wp/v2/blocks/(?P<id>[\d]+)
      description: WordPress REST API route `/wp/v2/blocks/(?P<id>[\d]+)` in namespace `wp/v2`, as advertised by the live route-discovery document at https://www.a2bio.com/wp-json/.
      tags:
      - wp/v2
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  type: string
                  format: date-time
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type: string
                  format: date-time
                  description: The date the post was published, as GMT.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  description: A named status for the post.
                password:
                  type: string
                  description: A password to protect access to the content and excerpt.
                title:
                  type: object
                  description: The title for the post.
                content:
                  type: object
                  description: The content for the post.
                excerpt:
                  type: object
                  description: The excerpt for the post.
                meta:
                  type: object
                  description: Meta fields.
                template:
                  type: string
                  description: The theme file to use to display the post.
                wp_pattern_category:
                  type: array
                  items:
                    type: integer
                  description: The terms assigned to the post in the wp_pattern_category taxonomy.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema: {}
        '401':
          description: Authentication required or capability missing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    delete:
      operationId: deleteWpV2BlocksById
      summary: DELETE /wp/v2/blocks/(?P<id>[\d]+)
      description: WordPress REST API route `/wp/v2/blocks/(?P<id>[\d]+)` in namespace `wp/v2`, as advertised by the live route-discovery document at https://www.a2bio.com/wp-json/.
      tags:
      - wp/v2
      parameters:
      - name: force
        in: query
        schema:
          type: boolean
          default: false
        description: Whether to bypass Trash and force deletion.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema: {}
        '401':
          description: Authentication required or capability missing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp-json/wp/v2/blocks/{id}/autosaves:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getWpV2BlocksByIdAutosaves
      summary: GET /wp/v2/blocks/(?P<id>[\d]+)/autosaves
      description: WordPress REST API route `/wp/v2/blocks/(?P<id>[\d]+)/autosaves` in namespace `wp/v2`, as advertised by the live route-discovery document at https://www.a2bio.com/wp-json/.
      tags:
      - wp/v2
      parameters:
      - name: parent
        in: query
        schema:
          type: integer
        description: The ID for the parent of the autosave.
      - name: context
        in: query
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema: {}
        '401':
          description: Authentication required or capability missing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    post:
      operationId: postWpV2BlocksByIdAutosaves
      summary: POST /wp/v2/blocks/(?P<id>[\d]+)/autosaves
      description: WordPress REST API route `/wp/v2/blocks/(?P<id>[\d]+)/autosaves` in namespace `wp/v2`, as advertised by the live route-discovery document at https://www.a2bio.com/wp-json/.
      tags:
      - wp/v2
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                parent:
                  type: integer
                  description: The ID for the parent of the autosave.
                date:
                  type: string
                  format: date-time
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type: string
                  format: date-time
                  description: The date the post was published, as GMT.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  description: A named status for the post.
                password:
                  type: string
                  description: A password to protect access to the content and excerpt.
                title:
                  type: object
                  description: The title for the post.
                content:
                  type: object
                  description: The content for the post.
                excerpt:
                  type: object
                  description: The excerpt for the post.
                meta:
                  type: object
                  description: Meta fields.
                template:
                  type: string
                  description: The theme file to use to display the post.
                wp_pattern_category:
                  type: array
                  items:
                    type: integer
                  description: The terms assigned to the post in the wp_pattern_category taxonomy.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema: {}
        '401':
          description: Authentication required or capability missing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp-json/wp/v2/blocks/{parent}/autosaves/{id}:
    parameters:
    - name: parent
      in: path
      required: true
      schema:
        type: string
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getWpV2BlocksByParentAutosavesById
      summary: GET /wp/v2/blocks/(?P<parent>[\d]+)/autosaves/(?P<id>[\d]+)
      description: WordPress REST API route `/wp/v2/blocks/(?P<parent>[\d]+)/autosaves/(?P<id>[\d]+)` in namespace `wp/v2`, as advertised by the live route-discovery document at https://www.a2bio.com/wp-json/.
      tags:
      - wp/v2
      parameters:
      - name: context
        in: query
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema: {}
        '401':
          description: Authentication required or capability missing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp-json/wp/v2/blocks/{parent}/revisions:
    parameters:
    - name: parent
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getWpV2BlocksByParentRevisions
      summary: GET /wp/v2/blocks/(?P<parent>[\d]+)/revisions
      description: WordPress REST API route `/wp/v2/blocks/(?P<parent>[\d]+)/revisions` in namespace `wp/v2`, as advertised by the live route-discovery document at https://www.a2bio.com/wp-json/.
      tags:
      - wp/v2
      parameters:
      - name: context
        in: query
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: page
        in: query
        schema:
          type: integer
          default: 1
        description: Current page of the collection.
      - name: per_page
        in: query
        schema:
          type: integer
        description: Maximum number of items to be returned in result set.
      - name: search
        in: query
        schema:
          type: string
        description: Limit results to those matching a string.
      - name: exclude
        in: query
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Ensure result set excludes specific IDs.
      - name: include
        in: query
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to specific IDs.
      - name: offset
        in: query
        schema:
          type: integer
        description: Offset the result set by a specific number of items.
      - name: order
        in: query
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
        description: Order sort attribute ascending or descending.
      - name: orderby
        in: query
        schema:
          type: string
          enum:
          - date
          - id
          - include
          - relevance
          - slug
          - include_slugs
          - title
          default: date
        description: Sort collection by object attribute.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema: {}
        '401':
          description: Authentication required or capability missing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp-json/wp/v2/blocks/{parent}/revisions/{id}:
    parameters:
    - name: parent
      in: path
      required: true
      schema:
        type: string
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getWpV2BlocksByParentRevisionsById
      summary: GET /wp/v2/blocks/(?P<parent>[\d]+)/revisions/(?P<id>[\d]+)
      description: WordPress REST API route `/wp/v2/blocks/(?P<parent>[\d]+)/revisions/(?P<id>[\d]+)` in namespace `wp/v2`, as advertised by the live route-discovery document at https://www.a2bio.com/wp-json/.
      tags:
      - wp/v2
      parameters:
      - name: context
        in: query
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema: {}
        '401':
          description: Authentication required or capability missing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    delete:
      operationId: deleteWpV2BlocksByParentRevisionsById
      summary: DELETE /wp/v2/blocks/(?P<parent>[\d]+)/revisions/(?P<id>[\d]+)
      description: WordPress REST API route `/wp/v2/blocks/(?P<parent>[\d]+)/revisions/(?P<id>[\d]+)` in namespace `wp/v2`, as advertised by the live route-discovery document at https://www.a2bio.com/wp-json/.
      tags:
      - wp/v2
      parameters:
      - name: force
        in: query
        schema:
          type: boolean
          default: false
        description: Required to be true, as revisions do not support trashing.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema: {}
        '401':
          description: Authentication required or capability missing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp-json/wp/v2/categories:
    get:
      operationId: getWpV2Categories
      summary: GET /wp/v2/categories
      description: WordPress REST API route `/wp/v2/categories` in namespace `wp/v2`, as advertised by the live route-discovery document at https://www.a2bio.com/wp-json/.
      tags:
      - wp/v2
      parameters:
      - name: context
        in: query
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: page
        in: query
        schema:
          type: integer
          default: 1
        description: Current page of the collection.
      - name: per_page
        in: query
        schema:
          type: integer
          default: 10
        description: Maximum number of items to be returned in result set.
      - name: search
        in: query
        schema:
          type: string
        description: Limit results to those matching a string.
      - name: exclude
        in: query
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Ensure result set excludes specific IDs.
      - name: include
        in: query
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to specific IDs.
      - name: order
        in: query
        schema:
          type: string
          enum:
          - asc
          - desc
          default: asc
        description: Order sort attribute ascending or descending.
      - name: orderby
        in: query
        schema:
          type: string
          enum:
          - id
          - include
          - name
          - slug
          - include_slugs
          - term_group
          - description
          - count
          default: name
        description: Sort collection by term attribute.
      - name: hide_empty
        in: query
        schema:
          type: boolean
          default: false
        description: Whether to hide terms not assigned to any posts.
      - name: parent
        in: query
        schema:
          type: integer
        description: Limit result set to terms assigned to a specific parent.
      - name: post
        in: query
        schema:
          type: integer
        description: Limit result set to terms assigned to a specific post.
      - name: slug
        in: query
        schema:
          type: array
          items:
            type: string
        description: Limit result set to terms with one or more specific slugs.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema: {}
        '401':
          description: Authentication required or capability missing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    post:
      operationId: postWpV2Categories
      summary: POST /wp/v2/categories
      description: WordPress REST API route `/wp/v2/categories` in namespace `wp/v2`, as advertised by the live route-discovery document at https://www.a2bio.com/wp-json/.
      tags:
      - wp/v2
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  description: HTML description of the term.
                name:
                  type: string
                  description: HTML title for the term.
                slug:
                  type: string
                  description: An alphanumeric identifier for the term unique to its type.
                parent:
                  type: integer
                  description: The parent term ID.
                meta:
                  type: object
                  description: Meta fields.
              required:
              - name
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema: {}
        '401':
          description: Authentication required or capability missing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp-json/wp/v2/categories/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getWpV2CategoriesById
      summary: GET /wp/v2/categories/(?P<id>[\d]+)
      description: WordPress REST API route `/wp/v2/categories/(?P<id>[\d]+)` in namespace `wp/v2`, as advertised by the live route-discovery document at https://www.a2bio.com/wp-json/.
      tags:
      - wp/v2
      parameters:
      - name: context
        in: query
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema: {}
        '401':
          description: Authentication required or capability missing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    post:
      operationId: postWpV2CategoriesById
      summary: POST /wp/v2/categories/(?P<id>[\d]+)
      description: WordPress REST API route `/wp/v2/categories/(?P<id>[\d]+)` in namespace `wp/v2`, as advertised by the live route-discovery document at https://www.a2bio.com/wp-json/.
      tags:
      - wp/v2
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  description: HTML description of the term.
                name:
                  type: string
                  description: HTML title for the term.
                slug:
                  type: string
                  description: An alphanumeric identifier for the term unique to its type.
                parent:
                  type: integer
                  description: The parent term ID.
                meta:
                  type: object
                  description: Meta fields.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema: {}
        '401':
          description: Authentication required or capability missing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    put:
      operationId: putWpV2CategoriesById
      summary: PUT /wp/v2/categories/(?P<id>[\d]+)
      description: WordPress REST API route `/wp/v2/categories/(?P<id>[\d]+)` in namespace `wp/v2`, as advertised by the live route-discovery document at https://www.a2bio.com/wp-json/.
      tags:
      - wp/v2
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  description: HTML description of the term.
                name:
                  type: string
                  description: HTML title for the term.
                slug:
                  type: string
                  description: An alphanumeric identifier for the term unique to its type.
                parent:
                  type: integer
                  description: The parent term ID.
                meta:
                  type: object
                  description: Meta fields.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema: {}
        '401':
          description: Authentication required or capability missing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    patch:
      operationId: patchWpV2CategoriesById
      summary: PATCH /wp/v2/categories/(?P<id>[\d]+)
      description: WordPress REST API route `/wp/v2/categories/(?P<id>[\d]+)` in namespace `wp/v2`, as advertised by the live route-discovery document at https://www.a2bio.com/wp-json/.
      tags:
      - wp/v2
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  description: HTML description of the term.
                name:
                  type: string
                  description: HTML title for the term.
                slug:
                  type: string
                  description: An alphanumeric identifier for the term unique to its type.
                parent:
                  type: integer
                  description: The parent term ID.
                meta:
                  type: object
                  description: Meta fields.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema: {}
        '401':
          description: Authentication required or capability missing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    delete:
      operationId: deleteWpV2CategoriesById
      summary: DELETE /wp/v2/categories/(?P<id>[\d]+)
      description: WordPress REST API route `/wp/v2/categories/(?P<id>[\d]+)` in namespace `wp/v2`, as advertised by the live route-discovery document at https://www.a2bio.com/wp-json/.
      tags:
      - wp/v2
      parameters:
      - name: force
        in: query
        schema:
          type: boolean
          default: false
        description: Required to be true, as terms do not support trashing.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema: {}
        '401':
          description: Authentication required or capability missing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp-json/wp/v2/comments:
    get:
      operationId: getWpV2Comments
      summary: GET /wp/v2/comments
      description: WordPress REST API route `/wp/v2/comments` in namespace `wp/v2`, as advertised by the live route-discovery document at https://www.a2bio.com/wp-json/.
      tags:
      - wp/v2
      parameters:
      - name: context
        in: query
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: page
        in: query
        schema:
          type: integer
          default: 1
        description: Current page of the collection.
      - name: per_page
        in: query
        schema:
          type: integer
          default: 10
        description: Maximum number of items to be returned in result set.
      - name: search
        in: query
        schema:
          type: string
        description: Limit results to those matching a string.
      - name: after
        in: query
        schema:
          type: string
          format: date-time
        description: Limit response to comments published after a given ISO8601 compliant date.
      - name: author
        in: query
        schema:
          type: array
          items:
            type: integer
        description: Limit result set to comments assigned to specific user IDs. Requires authorization.
      - name: author_exclude
        in: query
        schema:
          type: array
          items:
            type: integer
        description: Ensure result set excludes comments assigned to specific user IDs. Requires authorization.
      - name: author_email
        in: query
        schema:
          type: string
          format: email
        description: Limit result set to that from a specific author email. Requires authorization.
      - name: before
        in: query
        schema:
          type: string
          format: date-time
        description: Limit response to comments published before a given ISO8601 compliant date.
      - name: exclude
        in: query
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Ensure result set excludes specific IDs.
      - name: include
        in: query
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to specific IDs.
      - name: offset
        in: query
        schema:
          type: integer
        description: Offset the result set by a specific number of items.
      - name: order
        in: query
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
        description: Order sort attribute ascending or descending.
      - name: orderby
        in: query
        schema:
          type: string
          enum:
          - date
          - date_gmt
          - id
          - include
          - post
          - parent
          - type
          default: date_gmt
        description: Sort collection by comment attribute.
      - name: parent
        in: query
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to comments of specific parent IDs.
      - name: parent_exclude
        in: query
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Ensure result set excludes specific parent IDs.
      - name: post
        in: query
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to comments assigned to specific post IDs.
      - name: status
        in: query
        schema:
          type: string
          default: approve
        description: Limit result set to comments assigned a specific status. Requires authorization.
      - name: type
        in: query
        schema:
          type: string
          default: comment
        description: Limit result set to comments assigned a specific type. Requires authorization.
      - name: password
        in: query
        schema:
          type: string
        description: The password for the post if it is password protected.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema: {}
        '401':
          description: Authentication required or capability missing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    post:
      operationId: postWpV2Comments
      summary: POST /wp/v2/comments
      description: WordPress REST API route `/wp/v2/comments` in namespace `wp/v2`, as advertised by the live route-discovery document at https://www.a2bio.com/wp-json/.
      tags:
      - wp/v2
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                author:
                  type: integer
                  description: The ID of the user object, if author was a user.
                author_email:
                  type: string
                  format: email
                  description: Email address for the comment author.
                author_ip:
                  type: string
                  format: ip
                  description: IP address for the comment author.
                author_name:
                  type: string
                  description: Display name for the comment author.
                author_url:
                  type: string
                  format: uri
                  description: URL for the comment author.
                author_user_agent:
                  type: string
                  description: User agent for the comment author.
                content:
                  type: object
                  description: The content for the comment.
                date:
                  type: string
                  format: date-time
                  description: The date the comment was published, in the site's timezone.
                date_gmt:
                  type: string
                  format: date-time
                  description: The date the comment was published, as GMT.
                parent:
                  type: integer
                  default: 0
                  description: The ID for the parent of the comment.
                post:
                  type: integer
                  default: 0
                  description: The ID of the associated post object.
                status:
                  type: string
                  description: State of the comment.
                meta:
                  type: object
                  description: Meta fields.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema: {}
        '401':
          description: Authentication required or capability missing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp-json/wp/v2/comments/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getWpV2CommentsById
      summary: GET /wp/v2/comments/(?P<id>[\d]+)
      description: WordPress REST API route `/wp/v2/comments/(?P<id>[\d]+)` in namespace `wp/v2`, as advertised by the live route-discovery document at https://www.a2bio.com/wp-json/.
      tags:
      - wp/v2
      parameters:
      - name: context
        in: query
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: password
        in: query
        schema:
          type: string
        description: The password for the parent post of the comment (if the post is password protected).
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema: {}
        '401':
          description: Authentication required or capability missing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    post:
      operationId: postWpV2CommentsById
      summary: POST /wp/v2/comments/(?P<id>[\d]+)
      description: WordPress REST API route `/wp/v2/comments/(?P<id>[\d]+)` in namespace `wp/v2`, as advertised by the live route-discovery document at https://www.a2bio.com/wp-json/.
      tags:
      - wp/v2
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                author:
                  type: integer
                  description: The ID of the user object, if author was a user.
                author_email:
                  type: string
                  format: email
                  description: Email address for the comment author.
                author_ip:
                  type: string
                  format: ip
                  description: IP address for the comment author.
                author_name:
                  type: string
                  description: Display name for the comment author.
                author_url:
                  type: string
                  format: uri
                  description: URL for the comment author.
                author_user_agent:
                  type: string
                  description: User agent for the comment author.
                content:
                  type: object
                  description: The content for the comment.
                date:
                  type: string
                  format: date-time
                  description: The date the comment was published, in the site's timezone.
                date_gmt:
                  type: string
                  format: date-time
                  description: The date the comment was published, as GMT.
                parent:
                  type: integer
                  description: The ID for the parent of the comment.
                post:
                  type: integer
                  description: The ID of the associated post object.
                status:
                  type: string
                  description: State of the comment.
                meta:
                  type: object
                  description: Meta fields.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema: {}
        '401':
          description: Authentication required or capability missing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    put:
      operationId: putWpV2CommentsById
      summary: PUT /wp/v2/comments/(?P<id>[\d]+)
      description: WordPress REST API route `/wp/v2/comments/(?P<id>[\d]+)` in namespace `wp/v2`, as advertised by the live route-discovery document at https://www.a2bio.com/wp-json/.
      tags:
      - wp/v2
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                author:
                  type: integer
                  description: The ID of the user object, if author was a user.
                author_email:
                  type: string
                  format: email
                  description: Email address for the comment author.
                author_ip:
                  type: string
                  format: ip
                  description: IP address for the comment author.
                author_name:
                  type: string
                  description: Display name for the comment author.
                author_url:
                  type: string
                  format: uri
                  description: URL for the comment author.
                author_user_agent:
                  type: string
                  description: User agent for the comment author.
                content:
                  type: object
                  description: The content for the comment.
                date:
                  type: string
                  format: date-time
                  description: The date the comment was published, in the site's timezone.
                date_gmt:
                  type: string
                  format: date-time
                  description: The date the comment was published, as GMT.
                parent:
                  type: integer
                  description: The ID for the parent of the comment.
                post:
                  type: integer
                  description: The ID of the associated post object.
                status:
                  type: string
                  description: State of the comment.
                meta:
                  type: object
                  description: Meta fields.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema: {}
        '401':
          description: Authentication required or capability missing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    patch:
      operationId: patchWpV2CommentsById
      summary: PATCH /wp/v2/comments/(?P<id>[\d]+)
      description: WordPress REST API route `/wp/v2/comments/(?P<id>[\d]+)` in namespace `wp/v2`, as advertised by the live route-discovery document at https://www.a2bio.com/wp-json/.
      tags:
      - wp/v2
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                author:
                  type: integer
                  description: The ID of the user object, if author was a user.
                author_email:
                  type: string
                  format: email
                  description: Email address for the comment author.
                author_ip:
                  type: string
                  format: ip
                  description: IP address for the comment author.
                author_name:
                  type: string
                  description: Display name for the comment author.
                author_url:
                  type: string
                  format: uri
                  description: URL for the comment author.
                author_user_agent:
                  type: string
                  description: User agent for the comment author.
                content:
                  type: object
                  description: The content for the comment.
                date:
                  type: string
                  format: date-time
                  description: The date the comment was published, in the site's timezone.
                date_gmt:
                  type: string
                  format: date-time
                  description: The date the comment was published, as GMT.
                parent:
                  type: integer
                  description: The ID for the parent of the comment.
                post:
                  type: integer
                  description: The ID of the associated post object.
                status:
                  type: string
                  description: State of the comment.
                meta:
                  type: object
                  description: Meta fields.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema: {}
        '401':
          description: Authentication required or capability missing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    delete:
      operationId: deleteWpV2CommentsById
      summary: DELETE /wp/v2/comments/(?P<id>[\d]+)
      description: WordPress REST API route `/wp/v2/comments/(?P<id>[\d]+)` in namespace `wp/v2`, as advertised by the live route-discovery document at https://www.a2bio.com/wp-json/.
      tags:
      - wp/v2
      parameters:
      - name: force
        in: query
        schema:
          type: boolean
          default: false
        description: Whether to bypass Trash and force deletion.
      - name: password
        in: query
        schema:
          type: string
        description: The password for the parent post of the comment (if the post is password protected).
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema: {}
        '401':
          description: Authentication required or capability missing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp-json/wp/v2/font-collections:
    get:
      operationId: getWpV2FontCollections
      summary: GET /wp/v2/font-collections
      description: WordPress REST API route `/wp/v2/font-collections` in namespace `wp/v2`, as advertised by the live route-discovery document at https://www.a2bio.com/wp-json/.
      tags:
      - wp/v2
      parameters:
      - name: context
        in: query
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: page
        in: query
        schema:
          type: integer
          default: 1
        description: Current page of the collection.
      - name: per_page
        in: query
        schema:
          type: integer
          default: 10
        description: Maximum number of items to be returned in result set.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema: {}
        '401':
          description: Authentication required or capability missing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp-json/wp/v2/font-collections/{slug}:
    parameters:
    - name: slug
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getWpV2FontCollectionsBySlug
      summary: GET /wp/v2/font-collections/(?P<slug>[\/\w-]+)
      description: WordPress REST API route `/wp/v2/font-collections/(?P<slug>[\/\w-]+)` in namespace `wp/v2`, as advertised by the live route-discovery document at https://www.a2bio.com/wp-json/.
      tags:
      - wp/v2
      parameters:
      - name: context
        in: query
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema: {}
        '401':
          description: Authentication required or capability missing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp-json/wp/v2/font-families:
    get:
      operationId: getWpV2FontFamilies
      summary: GET /wp/v2/font-families
      description: WordPress REST API route `/wp/v2/font-families` in namespace `wp/v2`, as advertised by the live route-discovery document at https://www.a2bio.com/wp-json/.
      tags:
      - wp/v2
      parameters:
      - name: context
        in: query
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: page
        in: query
        schema:
          type: integer
          default: 1
        description: Current page of the collection.
      - name: per_page
        in: query
        schema:
          type: integer
          default: 10
        description: Maximum number of items to be returned in result set.
      - name: exclude
        in: query
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Ensure result set excludes specific IDs.
      - name: include
        in: query
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to specific IDs.
      - name: search_semantics
        in: query
        schema:
          type: string
          enum:
          - exact
        description: How to interpret the search input.
      - name: offset
        in: query
        schema:
          type: integer
        description: Offset the result set by a specific number of items.
      - name: order
        in: query
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
        description: Order sort attribute ascending or descending.
      - name: orderby
        in: query
        schema:
          type: string
          enum:
          - id
          - include
          default: id
        description: Sort collection by post attribute.
      - name: slug
        in: query
        schema:
          type: array
          items:
            type: string
        description: Limit result set to posts with one or more specific slugs.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema: {}
        '401':
          description: Authentication required or capability missing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    post:
      operationId: postWpV2FontFamilies
      summary: POST /wp/v2/font-families
      description: WordPress REST API route `/wp/v2/font-families` in namespace `wp/v2`, as advertised by the live route-discovery document at https://www.a2bio.com/wp-json/.
      tags:
      - wp/v2
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                theme_json_version:
                  type: integer
                  default: 3
                  description: Version of the theme.json schema used for the typography settings.
                font_family_settings:
                  type: string
                  description: font-family declaration in theme.json format, encoded as a string.
              required:
              - font_family_settings
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema: {}
        '401':
          description: Authentication required or capability missing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp-json/wp/v2/font-families/{font_family_id}/font-faces:
    parameters:
    - name: font_family_id
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getWpV2FontFamiliesByFontFamilyIdFontFaces
      summary: GET /wp/v2/font-families/(?P<font_family_id>[\d]+)/font-faces
      description: WordPress REST API route `/wp/v2/font-families/(?P<font_family_id>[\d]+)/font-faces` in namespace `wp/v2`, as advertised by the live route-discovery document at https://www.a2bio.com/wp-json/.
      tags:
      - wp/v2
      parameters:
      - name: context
        in: query
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: page
        in: query
        schema:
          type: integer
          default: 1
        description: Current page of the collection.
      - name: per_page
        in: query
        schema:
          type: integer
          default: 10
        description: Maximum number of items to be returned in result set.
      - name: exclude
        in: query
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Ensure result set excludes specific IDs.
      - name: include
        in: query
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to specific IDs.
      - name: search_semantics
        in: query
        schema:
          type: string
          enum:
          - exact
        description: How to interpret the search input.
      - name: offset
        in: query
        schema:
          type: integer
        description: Offset the result set by a specific number of items.
      - name: order
        in: query
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
        description: Order sort attribute ascending or descending.
      - name: orderby
        in: query
        schema:
          type: string
          enum:
          - id
          - include
          default: id
        description: Sort collection by post attribute.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema: {}
        '401':
          description: Authentication required or capability missing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    post:
      operationId: postWpV2FontFamiliesByFontFamilyIdFontFaces
      summary: POST /wp/v2/font-families/(?P<font_family_id>[\d]+)/font-faces
      description: WordPress REST API route `/wp/v2/font-families/(?P<font_family_id>[\d]+)/font-faces` in namespace `wp/v2`, as advertised by the live route-discovery document at https://www.a2bio.com/wp-json/.
      tags:
      - wp/v2
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                theme_json_version:
                  type: integer
                  default: 3
                  description: Version of the theme.json schema used for the typography settings.
                font_face_settings:
                  type: string
                  description: font-face declaration in theme.json format, encoded as a string.
              required:
              - font_face_settings
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema: {}
        '401':
          description: Authentication required or capability missing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp-json/wp/v2/font-families/{font_family_id}/font-faces/{id}:
    parameters:
    - name: font_family_id
      in: path
      required: true
      schema:
        type: string
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getWpV2FontFamiliesByFontFamilyIdFontFacesById
      summary: GET /wp/v2/font-families/(?P<font_family_id>[\d]+)/font-faces/(?P<id>[\d]+)
      description: WordPress REST API route `/wp/v2/font-families/(?P<font_family_id>[\d]+)/font-faces/(?P<id>[\d]+)` in namespace `wp/v2`, as advertised by the live route-discovery document at https://www.a2bio.com/wp-json/.
      tags:
      - wp/v2
      parameters:
      - name: context
        in: query
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema: {}
        '401':
          description: Authentication required or capability missing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    delete:
      operationId: deleteWpV2FontFamiliesByFontFamilyIdFontFacesById
      summary: DELETE /wp/v2/font-families/(?P<font_family_id>[\d]+)/font-faces/(?P<id>[\d]+)
      description: WordPress REST API route `/wp/v2/font-families/(?P<font_family_id>[\d]+)/font-faces/(?P<id>[\d]+)` in namespace `wp/v2`, as advertised by the live route-discovery document at https://www.a2bio.com/wp-json/.
      tags:
      - wp/v2
      parameters:
      - name: force
        in: query
        schema:
          type: boolean
          default: false
        description: Whether to bypass Trash and force deletion.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema: {}
        '401':
          description: Authentication required or capability missing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp-json/wp/v2/font-families/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getWpV2FontFamiliesById
      summary: GET /wp/v2/font-families/(?P<id>[\d]+)
      description: WordPress REST API route `/wp/v2/font-families/(?P<id>[\d]+)` in namespace `wp/v2`, as advertised by the live route-discovery document at https://www.a2bio.com/wp-json/.
      tags:
      - wp/v2
      parameters:
      - name: context
        in: query
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema: {}
        '401':
          description: Authentication required or capability missing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    post:
      operationId: postWpV2FontFamiliesById
      summary: POST /wp/v2/font-families/(?P<id>[\d]+)
      description: WordPress REST API route `/wp/v2/font-families/(?P<id>[\d]+)` in namespace `wp/v2`, as advertised by the live route-discovery document at https://www.a2bio.com/wp-json/.
      tags:
      - wp/v2
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                theme_json_version:
                  type: integer
                  default: 3
                  description: Version of the theme.json schema used for the typography settings.
                font_family_settings:
                  type: string
                  description: font-family declaration in theme.json format, encoded as a string.
              required:
              - font_family_settings
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema: {}
        '401':
          description: Authentication required or capability missing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    put:
      operationId: putWpV2FontFamiliesById
      summary: PUT /wp/v2/font-families/(?P<id>[\d]+)
      description: WordPress REST API route `/wp/v2/font-families/(?P<id>[\d]+)` in namespace `wp/v2`, as advertised by the live route-discovery document at https://www.a2bio.com/wp-json/.
      tags:
      - wp/v2
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                theme_json_version:
                  type: integer
                  default: 3
                  description: Version of the theme.json schema used for the typography settings.
                font_family_settings:
                  type: string
                  description: font-family declaration in theme.json format, encoded as a string.
              required:
              - font_family_settings
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema: {}
        '401':
          description: Authentication required or capability missing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    patch:
      operationId: patchWpV2FontFamiliesById
      summary: PATCH /wp/v2/font-families/(?P<id>[\d]+)
      description: WordPress REST API route `/wp/v2/font-families/(?P<id>[\d]+)` in namespace `wp/v2`, as advertised by the live route-discovery document at https://www.a2bio.com/wp-json/.
      tags:
      - wp/v2
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                theme_json_version:
                  type: integer
                  default: 3
                  description: Version of the theme.json schema used for the typography settings.
                font_family_settings:
                  type: string
                  description: font-family declaration in theme.json format, encoded as a string.
              required:
              - font_family_settings
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema: {}
        '401':
          description: Authentication required or capability missing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    delete:
      operationId: deleteWpV2FontFamiliesById
      summary: DELETE /wp/v2/font-families/(?P<id>[\d]+)
      description: WordPress REST API route `/wp/v2/font-families/(?P<id>[\d]+)` in namespace `wp/v2`, as advertised by the live route-discovery document at https://www.a2bio.com/wp-json/.
      tags:
      - wp/v2
      parameters:
      - name: force
        in: query
        schema:
          type: boolean
          default: false
        description: Whether to bypass Trash and force deletion.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema: {}
        '401':
          description: Authentication required or capability missing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp-json/wp/v2/global-styles/themes/{stylesheet}?):
    parameters:
    - name: stylesheet
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getWpV2GlobalStylesThemesByStylesheet
      summary: GET /wp/v2/global-styles/themes/(?P<stylesheet>[^\/:<>\*\?"\|]+(?:\/[^\/:<>\*\?"\|]+)?)
      description: WordPress REST API route `/wp/v2/global-styles/themes/(?P<stylesheet>[^\/:<>\*\?"\|]+(?:\/[^\/:<>\*\?"\|]+)?)` in namespace `wp/v2`, as advertised by the live route-discovery document at https://www.a2bio.com/wp-json/.
      tags:
      - wp/v2
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema: {}
        '401':
          description: Authentication required or capability missing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp-json/wp/v2/global-styles/themes/{stylesheet}\[\]\@_\-]+)/variations:
    parameters:
    - name: stylesheet
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getWpV2GlobalStylesThemesByStylesheetVariations
      summary: GET /wp/v2/global-styles/themes/(?P<stylesheet>[\/\s%\w\.\(\)\[\]\@_\-]+)/variations
      description: WordPress REST API route `/wp/v2/global-styles/themes/(?P<stylesheet>[\/\s%\w\.\(\)\[\]\@_\-]+)/variations` in namespace `wp/v2`, as advertised by the live route-discovery document at https://www.a2bio.com/wp-json/.
      tags:
      - wp/v2
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema: {}
        '401':
          description: Authentication required or capability missing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp-json/wp/v2/global-styles/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getWpV2GlobalStylesById
      summary: GET /wp/v2/global-styles/(?P<id>[\/\d+]+)
      description: WordPress REST API route `/wp/v2/global-styles/(?P<id>[\/\d+]+)` in namespace `wp/v2`, as advertised by the live route-discovery document at https://www.a2bio.com/wp-json/.
      tags:
      - wp/v2
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema: {}
        '401':
          description: Authentication required or capability missing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    post:
      operationId: postWpV2GlobalStylesById
      summary: POST /wp/v2/global-styles/(?P<id>[\/\d+]+)
      description: WordPress REST API route `/wp/v2/global-styles/(?P<id>[\/\d+]+)` in namespace `wp/v2`, as advertised by the live route-discovery document at https://www.a2bio.com/wp-json/.
      tags:
      - wp/v2
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                styles:
                  type: object
                  description: Global styles.
                settings:
                  type: object
                  description: Global settings.
                title:
                  type: object
                  description: Title of the global styles variation.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema: {}
        '401':
          description: Authentication required or capability missing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    put:
      operationId: putWpV2GlobalStylesById
      summary: PUT /wp/v2/global-styles/(?P<id>[\/\d+]+)
      description: WordPress REST API route `/wp/v2/global-styles/(?P<id>[\/\d+]+)` in namespace `wp/v2`, as advertised by the live route-discovery document at https://www.a2bio.com/wp-json/.
      tags:
      - wp/v2
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                styles:
                  type: object
                  description: Global styles.
                settings:
                  type: object
                  description: Global settings.
[...]
